<% if .errors.any? %>
  <ul>
    <% .errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for() do |form| %>
  <%= form.label :, '' %>
  <%= form.text_field : %>

  <%= form.label :, '' %>
  <%= form.text_area : %>

  <%= form.label :, '' %>
  <%= form.number_field : %>

  <%= form.label :, '' %>
  <%= form.number_field : %>

  <%= form.label :, '' %>
  <%= form.text_field : %>

  <%= form.label :, '' %>
  <%= form.text_field : %>
  
  <%= form.label :, '' %>
  <%= form.text_field : %>

  <%= form.label :, '' %>
  <%= form.text_field : %>

  <%= form.submit %>
<% end %>